<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Progress Bar</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" [attr.ariaValuenow]="progreso0" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso0 + '%'"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progreso1" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso1 + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title">Progress Bar</h4> -->
                <!-- si la variable va entre [ ] significa que es una variable lo que se envia -->
                <!-- si es solo la variable significa que es un string lo que se envia -->
                <app-incrementador nombre="Progress Azul" [progreso]="progreso0" (updateVal)="progreso0 = $event"></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title">Progress Bar</h4> -->
                <app-incrementador nombre="Progress Verde" [progreso]="progreso1" (updateVal)="progreso1 = $event"></app-incrementador>
            </div>
        </div>
    </div>
</div>