<!-- ============================================================== -->
<!-- Right sidebar -->
<!-- ============================================================== -->
<!-- .right-sidebar -->
<div class="right-sidebar">
    <div class="slimscrollright">
        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
        <div class="r-panel-body">
            <ul id="themecolors" class="m-t-20">
                <li><b>With Light sidebar</b></li>
                <li><a #link00 (click)="cambiarColor('default', link00)" data-theme="default" class="selector default-theme">1</a></li>
                <li><a #link01 (click)="cambiarColor('green', link01)" data-theme="green" class="selector green-theme">2</a></li>
                <li><a #link02 (click)="cambiarColor('red', link02)" data-theme="red" class="selector red-theme">3</a></li>
                <li><a #link03 (click)="cambiarColor('blue', link03)" data-theme="blue" class="selector blue-theme">4</a></li>
                <li><a #link04 (click)="cambiarColor('purple', link04)" data-theme="purple" class="selector purple-theme">5</a></li>
                <li><a #link05 (click)="cambiarColor('megna', link05)" data-theme="megna" class="selector megna-theme">6</a></li>
                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                <li><a #link06 (click)="cambiarColor('default-dark', link06)" data-theme="default-dark" class="selector default-dark-theme">7</a></li>
                <li><a #link07 (click)="cambiarColor('green-dark', link07)" data-theme="green-dark" class="selector green-dark-theme">8</a></li>
                <li><a #link08 (click)="cambiarColor('red-dark', link08)" data-theme="red-dark" class="selector red-dark-theme">9</a></li>
                <li><a #link09 (click)="cambiarColor('blue-dark', link09)" data-theme="blue-dark" class="selector blue-dark-theme">10</a></li>
                <li><a #link10 (click)="cambiarColor('purple-dark', link10)" data-theme="purple-dark" class="selector purple-dark-theme">11</a></li>
                <li><a #link11 (click)="cambiarColor('megna-dark', link11)" data-theme="megna-dark" class="selector megna-dark-theme ">12</a></li>
            </ul>
            <ul id="themecolors" class="m-t-20">
                <li><b>Chat option</b></li>
                <li><a #link12 (click)="cambiarColor2('deeppurple-amber', link12)" data-theme="deeppurple-amber" class="selector2 deeppurple-amber-theme">13</a></li>
                <li><a #link13 (click)="cambiarColor2('indigo-pink', link13)" data-theme="indigo-pink" class="selector2 indigo-pink-theme">14</a></li>
                <li><a #link14 (click)="cambiarColor2('pink-bluegrey', link14)" data-theme="pink-bluegrey" class="selector2 pink-bluegrey-theme">15</a></li>
                <li><a #link15 (click)="cambiarColor2('purple-green', link15)" data-theme="purple-green" class="selector2 purple-green-theme ">16</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Right sidebar -->
<!-- ============================================================== -->